{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash Credit Card API",
    "description": "Credit card and payment management endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/creditcard",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/creditcard",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/creditcard/": {
      "get": {
        "summary": "Get all credit cards",
        "tags": ["Cards"],
        "responses": {
          "200": {
            "description": "Cards retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "cardNumber": { "type": "string" },
                          "cardHolder": { "type": "string" },
                          "expiryDate": { "type": "string" },
                          "isDefault": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add credit card",
        "tags": ["Cards"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cardNumber", "cardHolder", "expiryDate", "cvv"],
                "properties": {
                  "cardNumber": { "type": "string" },
                  "cardHolder": { "type": "string" },
                  "expiryDate": { "type": "string" },
                  "cvv": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card added"
          }
        }
      }
    },
    "/creditcard/{id}": {
      "get": {
        "summary": "Get card details",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Card retrieved"
          }
        }
      },
      "delete": {
        "summary": "Delete credit card",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Card deleted"
          }
        }
      }
    },
    "/creditcard/{id}/default": {
      "put": {
        "summary": "Set as default card",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default card set"
          }
        }
      }
    },
    "/creditcard/{id}/address": {
      "put": {
        "summary": "Update card billing address",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["addressId"],
                "properties": {
                  "addressId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address updated"
          }
        }
      }
    },
    "/creditcard/address": {
      "get": {
        "summary": "Get all addresses",
        "tags": ["Address"],
        "responses": {
          "200": {
            "description": "Addresses retrieved"
          }
        }
      },
      "post": {
        "summary": "Add address",
        "tags": ["Address"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["street", "city", "state", "zip"],
                "properties": {
                  "street": { "type": "string" },
                  "city": { "type": "string" },
                  "state": { "type": "string" },
                  "zip": { "type": "string" },
                  "country": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address added"
          }
        }
      }
    },
    "/creditcard/address/{id}": {
      "put": {
        "summary": "Update address",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "street": { "type": "string" },
                  "city": { "type": "string" },
                  "state": { "type": "string" },
                  "zip": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address updated"
          }
        }
      },
      "delete": {
        "summary": "Delete address",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Address deleted"
          }
        }
      }
    }
  }
}
