{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash IELTS API",
    "description": "IELTS exam endpoints for ElasticDash platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/ielts",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/ielts",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Onboarding", "description": "Onboarding flow endpoints" },
    { "name": "Dashboard", "description": "Dashboard statistics endpoints" },
    { "name": "Tests", "description": "Test management endpoints" },
    { "name": "Study Plan", "description": "Study plan endpoints" },
    { "name": "Skills", "description": "Skill rating endpoints" },
    { "name": "Daily Plan", "description": "Daily plan management" },
    { "name": "Responses", "description": "Test response management" },
    { "name": "Questions", "description": "Question and feedback" },
    { "name": "Answer Sheet", "description": "Answer sheet management" },
    { "name": "Admin", "description": "Admin test generation" }
  ],
  "paths": {
    "/ielts/onboarding/status": {
      "get": {
        "summary": "Check onboarding status",
        "tags": ["Onboarding"],
        "responses": {
          "200": {
            "description": "Status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "needsOnboarding": { "type": "boolean" },
                        "currentStep": { "type": "number" },
                        "totalSteps": { "type": "number" },
                        "completedSteps": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ielts/onboarding/placement-test/start": {
      "post": {
        "summary": "Start placement test",
        "tags": ["Onboarding"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test started"
          }
        }
      }
    },
    "/ielts/onboarding/placement-test/submit": {
      "post": {
        "summary": "Submit placement test",
        "tags": ["Onboarding"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answers": { "type": "array" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test submitted"
          }
        }
      }
    },
    "/ielts/onboarding/placement-test/result": {
      "get": {
        "summary": "Get placement test result",
        "tags": ["Onboarding"],
        "responses": {
          "200": {
            "description": "Result retrieved"
          }
        }
      }
    },
    "/ielts/onboarding/complete": {
      "post": {
        "summary": "Complete onboarding",
        "tags": ["Onboarding"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding completed"
          }
        }
      }
    },
    "/ielts/onboarding/studyplan/estimate": {
      "post": {
        "summary": "Estimate study plan",
        "tags": ["Onboarding"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetScore": { "type": "number" },
                  "hoursPerWeek": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate provided"
          }
        }
      }
    },
    "/ielts/dashboard/stats": {
      "get": {
        "summary": "Get dashboard statistics",
        "tags": ["Dashboard"],
        "responses": {
          "200": {
            "description": "Stats retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalTests": { "type": "number" },
                        "completedTests": { "type": "number" },
                        "averageScore": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ielts/reading/stats": {
      "get": {
        "summary": "Get reading statistics",
        "tags": ["Dashboard"],
        "responses": {
          "200": {
            "description": "Stats retrieved"
          }
        }
      }
    },
    "/ielts/writing/stats": {
      "get": {
        "summary": "Get writing statistics",
        "tags": ["Dashboard"],
        "responses": {
          "200": {
            "description": "Stats retrieved"
          }
        }
      }
    },
    "/ielts/skill/rating": {
      "get": {
        "summary": "Get skill ratings",
        "tags": ["Skills"],
        "responses": {
          "200": {
            "description": "Ratings retrieved"
          }
        }
      }
    },
    "/ielts/skill/rating/{skillId}/trend": {
      "get": {
        "summary": "Get skill trend",
        "tags": ["Skills"],
        "parameters": [
          {
            "name": "skillId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Trend retrieved"
          }
        }
      }
    },
    "/ielts/skill/rating/history": {
      "get": {
        "summary": "Get skill history",
        "tags": ["Skills"],
        "responses": {
          "200": {
            "description": "History retrieved"
          }
        }
      }
    },
    "/ielts/test/start": {
      "post": {
        "summary": "Start a test",
        "tags": ["Tests"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["testType"],
                "properties": {
                  "testType": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test started"
          }
        }
      }
    },
    "/ielts/test/submit": {
      "post": {
        "summary": "Submit test",
        "tags": ["Tests"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "testId": { "type": "number" },
                  "responses": { "type": "array" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test submitted"
          }
        }
      }
    },
    "/ielts/test/result/{id}": {
      "get": {
        "summary": "Get test result",
        "tags": ["Tests"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Result retrieved"
          }
        }
      }
    },
    "/ielts/study-plan/current": {
      "get": {
        "summary": "Get current study plan",
        "tags": ["Study Plan"],
        "responses": {
          "200": {
            "description": "Study plan retrieved"
          }
        }
      }
    },
    "/ielts/study-plan/submit": {
      "post": {
        "summary": "Submit study plan",
        "tags": ["Study Plan"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Study plan submitted"
          }
        }
      }
    },
    "/ielts/exam-goal": {
      "post": {
        "summary": "Set exam goal",
        "tags": ["Tests"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["score"],
                "properties": {
                  "score": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goal set"
          }
        }
      }
    },
    "/ielts/exam-goal/current": {
      "get": {
        "summary": "Get current exam goal",
        "tags": ["Tests"],
        "responses": {
          "200": {
            "description": "Goal retrieved"
          }
        }
      }
    },
    "/ielts/exam-goal/history": {
      "get": {
        "summary": "Get exam goal history",
        "tags": ["Tests"],
        "responses": {
          "200": {
            "description": "History retrieved"
          }
        }
      }
    },
    "/ielts/tasks/progress": {
      "get": {
        "summary": "Get tasks progress",
        "tags": ["Study Plan"],
        "responses": {
          "200": {
            "description": "Progress retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/today": {
      "get": {
        "summary": "Get today's daily plan",
        "tags": ["Daily Plan"],
        "responses": {
          "200": {
            "description": "Plan retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/bydate/{date}": {
      "get": {
        "summary": "Get daily plan by date",
        "tags": ["Daily Plan"],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "date" }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/generate": {
      "post": {
        "summary": "Generate daily plan",
        "tags": ["Daily Plan"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan generated"
          }
        }
      }
    },
    "/ielts/daily-plan/generate-today": {
      "post": {
        "summary": "Generate today's plan",
        "tags": ["Daily Plan"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan generated"
          }
        }
      }
    },
    "/ielts/daily-plan/incomplete": {
      "get": {
        "summary": "Get incomplete daily plans",
        "tags": ["Daily Plan"],
        "responses": {
          "200": {
            "description": "Plans retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/incomplete/reading": {
      "get": {
        "summary": "Get incomplete reading tasks",
        "tags": ["Daily Plan"],
        "responses": {
          "200": {
            "description": "Tasks retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/incomplete/writing": {
      "get": {
        "summary": "Get incomplete writing tasks",
        "tags": ["Daily Plan"],
        "responses": {
          "200": {
            "description": "Tasks retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/history": {
      "get": {
        "summary": "Get daily plan history",
        "tags": ["Daily Plan"],
        "responses": {
          "200": {
            "description": "History retrieved"
          }
        }
      }
    },
    "/ielts/daily-plan/plan/complete/{planId}": {
      "put": {
        "summary": "Complete daily plan",
        "tags": ["Daily Plan"],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan completed"
          }
        }
      }
    },
    "/ielts/response/detail/{responseId}": {
      "get": {
        "summary": "Get response details",
        "tags": ["Responses"],
        "parameters": [
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Response retrieved"
          }
        }
      }
    },
    "/ielts/response/status/{queueId}": {
      "get": {
        "summary": "Get response evaluation status",
        "tags": ["Responses"],
        "parameters": [
          {
            "name": "queueId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Status retrieved"
          }
        }
      }
    },
    "/ielts/response/evaluation/{responseId}": {
      "get": {
        "summary": "Get response evaluation",
        "tags": ["Responses"],
        "parameters": [
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation retrieved"
          }
        }
      }
    },
    "/ielts/response/upload-image": {
      "post": {
        "summary": "Upload response image",
        "tags": ["Responses"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded"
          }
        }
      }
    },
    "/ielts/question/history/{responseId}": {
      "get": {
        "summary": "Get question history",
        "tags": ["Questions"],
        "parameters": [
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved"
          }
        }
      }
    },
    "/ielts/question/ask": {
      "post": {
        "summary": "Ask a question",
        "tags": ["Questions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["responseId", "question"],
                "properties": {
                  "responseId": { "type": "number" },
                  "question": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question submitted"
          }
        }
      }
    },
    "/ielts/question/followup": {
      "post": {
        "summary": "Send followup question",
        "tags": ["Questions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["questionId", "followup"],
                "properties": {
                  "questionId": { "type": "number" },
                  "followup": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Followup submitted"
          }
        }
      }
    },
    "/ielts/question/summarize/{responseId}": {
      "post": {
        "summary": "Summarize feedback",
        "tags": ["Questions"],
        "parameters": [
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Summary generated"
          }
        }
      }
    },
    "/ielts/plan-task/{taskId}": {
      "get": {
        "summary": "Get task details",
        "tags": ["Study Plan"],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Task retrieved"
          }
        }
      }
    },
    "/ielts/plan-task/{taskId}/start": {
      "post": {
        "summary": "Start plan task",
        "tags": ["Study Plan"],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task started"
          }
        }
      }
    },
    "/ielts/answer-sheet/config-status": {
      "get": {
        "summary": "Get answer sheet config status",
        "tags": ["Answer Sheet"],
        "responses": {
          "200": {
            "description": "Status retrieved"
          }
        }
      }
    },
    "/ielts/answer-sheet/template": {
      "get": {
        "summary": "Get answer sheet template",
        "tags": ["Answer Sheet"],
        "responses": {
          "200": {
            "description": "Template retrieved"
          }
        }
      },
      "delete": {
        "summary": "Delete answer sheet template",
        "tags": ["Answer Sheet"],
        "responses": {
          "200": {
            "description": "Template deleted"
          }
        }
      }
    },
    "/ielts/answer-sheet/templates/list": {
      "get": {
        "summary": "Get answer sheet templates list",
        "tags": ["Answer Sheet"],
        "responses": {
          "200": {
            "description": "Templates retrieved"
          }
        }
      }
    },
    "/ielts/answer-sheet/template/upload": {
      "post": {
        "summary": "Upload answer sheet template",
        "tags": ["Answer Sheet"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "template": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template uploaded"
          }
        }
      }
    },
    "/ielts/penalty/history": {
      "get": {
        "summary": "Get penalty history",
        "tags": ["Tests"],
        "responses": {
          "200": {
            "description": "History retrieved"
          }
        }
      }
    },
    "/ielts/penalty/apply": {
      "post": {
        "summary": "Apply penalty",
        "tags": ["Tests"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Penalty applied"
          }
        }
      }
    },
    "/ielts/socketio/health": {
      "get": {
        "summary": "Socket.IO health check",
        "tags": ["Admin"],
        "security": [],
        "responses": {
          "200": {
            "description": "Health check passed"
          }
        }
      }
    },
    "/ielts/socketio/test": {
      "post": {
        "summary": "Socket.IO test",
        "tags": ["Admin"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test passed"
          }
        }
      }
    },
    "/ielts/admin/generate-reading-test": {
      "post": {
        "summary": "Generate reading test",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "passages": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test generated"
          }
        }
      }
    },
    "/ielts/admin/generate-writing-test": {
      "post": {
        "summary": "Generate writing test",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tasks": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test generated"
          }
        }
      }
    },
    "/ielts/usertest/list": {
      "post": {
        "summary": "Get user tests list",
        "tags": ["Tests"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tests retrieved"
          }
        }
      }
    }
  }
}
