{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash Pokémon API",
    "description": "Pokémon-related endpoints for ElasticDash platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/pokemon",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/pokemon",
      "description": "Production server"
    }
  ],
  "paths": {
    "/pokemon/search": {
      "post": {
        "summary": "Retrieve Pokémon by ID or name",
        "tags": ["Pokémon"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "filter": {
                    "type": "object",
                    "properties": {
                      "heightMin": { "type": "integer", "default": 0 },
                      "heightMax": { "type": "integer", "default": -1 },
                      "weightMin": { "type": "integer", "default": 0 },
                      "weightMax": { "type": "integer", "default": -1 },
                      "mustHaveTypes": {
                        "type": "array",
                        "items": { "type": "integer" }
                      },
                      "mustNotHaveTypes": {
                        "type": "array",
                        "items": { "type": "integer" }
                      },
                      "canLearnMove": { "type": "integer" },
                      "canLearnMoves": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "moveId": { "type": "integer" },
                            "moveMethodId": { "type": "integer" }
                          }
                        }
                      },
                      "stats": {
                        "type": "object",
                        "properties": {
                          "statId": {
                            "type": "object",
                            "properties": {
                              "min": { "type": "integer" },
                              "max": { "type": "integer" }
                            }
                          }
                        }
                      }
                    }
                  },
                  "page": { "type": "integer", "default": 0 },
                  "sortby": {
                    "type": "integer",
                    "default": 0,
                    "description": "Sorting option: 0 (A-Z), 1 (Z-A), 2 (Total stats high-low), 3 (Total stats low-high), 4 (HP high-low), 5 (HP low-high), ..., 15 (Speed low-high), 16 (Height high-low), 17 (Height low-high), 18 (Weight high-low), 19 (Weight low-high)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pokémon details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "name": { "type": "string" },
                          "type": { "type": "string" },
                          "abilities": {
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "sprite": {
                            "type": "string",
                            "example": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{id}.png"
                          }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon/move/search": {
      "post": {
        "summary": "Retrieve Move by ID or name",
        "tags": ["Move"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "page": { "type": "integer", "default": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Move details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "name": { "type": "string" },
                          "type": { "type": "string" },
                          "power": { "type": "integer" },
                          "pp": { "type": "integer" },
                          "accuracy": { "type": "integer" }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Move not found"
          }
        }
      }
    },
    "/pokemon/ability/search": {
      "post": {
        "summary": "Retrieve Ability by ID or name",
        "tags": ["Ability"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "page": { "type": "integer", "default": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ability details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "name": { "type": "string" },
                          "effect": { "type": "string" }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ability not found"
          }
        }
      }
    },
    "/pokemon/watchlist": {
      "post": {
        "summary": "Add Pokémon to watchlist",
        "tags": ["Watchlist"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pokemonId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pokémon added to watchlist"
          }
        }
      },
      "delete": {
        "summary": "Remove Pokémon from watchlist",
        "tags": ["Watchlist"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pokemonId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pokémon removed from watchlist"
          }
        }
      },
      "get": {
        "summary": "Get user's Pokémon watchlist",
        "tags": ["Watchlist"],
        "responses": {
          "200": {
            "description": "User's watchlist retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pokemonId": { "type": "number" },
                      "createdAt": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/teams": {
      "post": {
        "summary": "Create a Pokémon team",
        "tags": ["Teams"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created"
          }
        }
      },
      "get": {
        "summary": "Get user's Pokémon teams",
        "tags": ["Teams"],
        "responses": {
          "200": {
            "description": "User's teams retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "teamId": { "type": "number" },
                      "teamName": { "type": "string" },
                      "createdAt": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/teams/{teamId}/members": {
      "post": {
        "summary": "Add a member to a Pokémon team",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pokemonId": { "type": "number" },
                  "nickname": { "type": "string" },
                  "level": { "type": "number" },
                  "moves": { "type": "array", "items": { "type": "number" } },
                  "shiny": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added to team"
          }
        }
      },
      "get": {
        "summary": "Get all members of a Pokémon team",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Team members retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "memberId": { "type": "number" },
                      "pokemonId": { "type": "number" },
                      "nickname": { "type": "string" },
                      "level": { "type": "number" },
                      "shiny": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/type/search": {
      "post": {
        "summary": "Retrieve Type by ID or name",
        "tags": ["Type"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "page": { "type": "integer", "default": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Type details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "identifier": { "type": "string" },
                          "generation_id": { "type": "number" },
                          "localized_name": { "type": "string" },
                          "local_language_id": { "type": "number" }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Type not found"
          }
        }
      }
    }
  }
}