{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash Plan API",
    "description": "Subscription and plan management endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/plan",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/plan",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/plan/balance": {
      "get": {
        "summary": "Get credit balance",
        "tags": ["Plan"],
        "responses": {
          "200": {
            "description": "Balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCredits": { "type": "number" },
                        "usedCredits": { "type": "number" },
                        "availableCredits": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plan/list": {
      "get": {
        "summary": "Get available plans",
        "tags": ["Plan"],
        "responses": {
          "200": {
            "description": "Plans retrieved"
          }
        }
      }
    },
    "/plan/subscription/current": {
      "get": {
        "summary": "Get current subscription",
        "tags": ["Plan"],
        "responses": {
          "200": {
            "description": "Subscription retrieved"
          }
        }
      }
    },
    "/plan/webhook": {
      "post": {
        "summary": "Webhook for payment events",
        "tags": ["Plan"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": { "type": "string" },
                  "data": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed"
          }
        }
      }
    }
  }
}
