{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash Vocabulary API",
    "description": "Vocabulary and translation endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/vocabulary",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/vocabulary",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/vocabulary/translate": {
      "post": {
        "summary": "Translate vocabulary",
        "tags": ["Vocabulary"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["word"],
                "properties": {
                  "word": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "word": { "type": "string" },
                        "translation": { "type": "string" },
                        "phonetic": { "type": "string" },
                        "partOfSpeech": { "type": "string" },
                        "example": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vocabulary/my-words": {
      "get": {
        "summary": "Get user's word list",
        "tags": ["Vocabulary"],
        "responses": {
          "200": {
            "description": "Words retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "word": { "type": "string" },
                          "translation": { "type": "string" },
                          "addedAt": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vocabulary/history": {
      "get": {
        "summary": "Get translation history",
        "tags": ["Vocabulary"],
        "responses": {
          "200": {
            "description": "History retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "word": { "type": "string" },
                          "translatedAt": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
