{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash General API",
    "description": "General utility endpoints for ElasticDash platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/general",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/general",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/general/files/{key}": {
      "get": {
        "summary": "Get file by key",
        "tags": ["Files"],
        "security": [],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/general/secret/list": {
      "get": {
        "summary": "Get secrets list",
        "tags": ["Secrets"],
        "responses": {
          "200": {
            "description": "Secrets retrieved"
          }
        }
      }
    },
    "/general/secret/get/{secretName}": {
      "get": {
        "summary": "Get secret by name",
        "tags": ["Secrets"],
        "parameters": [
          {
            "name": "secretName",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret retrieved"
          }
        }
      }
    },
    "/general/secret/create": {
      "post": {
        "summary": "Create secret",
        "tags": ["Secrets"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "value"],
                "properties": {
                  "name": { "type": "string" },
                  "value": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret created"
          }
        }
      }
    },
    "/general/secret/delete/{secretName}": {
      "delete": {
        "summary": "Delete secret",
        "tags": ["Secrets"],
        "parameters": [
          {
            "name": "secretName",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret deleted"
          }
        }
      }
    },
    "/general/aiservice/xai": {
      "post": {
        "summary": "Call XAI service",
        "tags": ["AI Services"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": { "type": "string" },
                  "model": { "type": "string" },
                  "temperature": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "response": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/general/aiservice/claude": {
      "post": {
        "summary": "Call Claude AI service",
        "tags": ["AI Services"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": { "type": "string" },
                  "model": { "type": "string" },
                  "temperature": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "response": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/general/waitlist": {
      "post": {
        "summary": "Add to waitlist",
        "tags": ["Waitlist"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added to waitlist"
          }
        }
      }
    },
    "/general/waitlist/{id}": {
      "put": {
        "summary": "Update waitlist entry",
        "tags": ["Waitlist"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry updated"
          }
        }
      }
    }
  }
}
