{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash Pokémon API",
    "description": "Pokémon-related endpoints for ElasticDash platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/pokemon",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/pokemon",
      "description": "Production server"
    }
  ],
  "paths": {
    "/pokemon/search": {
      "post": {
        "summary": "Retrieve Pokémon by ID or name with filters and sorting",
        "tags": ["Pokémon"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "filter": {
                    "type": "object",
                    "properties": {
                      "height": {
                        "type": "object",
                        "properties": {
                          "min": { "type": "integer" },
                          "max": { "type": "integer" }
                        },
                        "description": "Height is measured in decimeters (10 cm)."
                      },
                      "weight": {
                        "type": "object",
                        "properties": {
                          "min": { "type": "integer" },
                          "max": { "type": "integer" }
                        },
                        "description": "Weight is measured in hectograms (100 g)."
                      },
                      "mustHaveTypes": {
                        "type": "array",
                        "items": { "type": "integer" }
                      },
                      "mustNotHaveTypes": {
                        "type": "array",
                        "items": { "type": "integer" }
                      },
                      "canLearnMoves": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "moveId": { "type": "integer" },
                            "moveMethodId": { "type": "integer" }
                          }
                        }
                      },
                      "stats": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "statId": { "type": "integer" },
                            "min": { "type": "integer" },
                            "max": { "type": "integer" }
                          }
                        }
                      }
                    }
                  },
                  "page": { "type": "integer", "default": 0 },
                  "sortby": {
                    "type": "integer",
                    "default": 0,
                    "description": "Sorting option: 0 (A-Z), 1 (Z-A), 2 (Total stats high-low), 3 (Total stats low-high), 4 (HP high-low), 5 (HP low-high), 6 (Attack high-low), 7 (Attack low-high), 8 (Defense high-low), 9 (Defense low-high), 10 (Special Attack high-low), 11 (Special Attack low-high), 12 (Special Defense high-low), 13 (Special Defense low-high), 14 (Speed high-low), 15 (Speed low-high), 16 (Height high-low), 17 (Height low-high), 18 (Weight high-low), 19 (Weight low-high)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pokémon details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "name": { "type": "string" },
                          "type": { "type": "string" },
                          "abilities": {
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "sprite": {
                            "type": "string",
                            "example": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{id}.png"
                          }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon/move/search": {
      "post": {
        "summary": "Retrieve Move by ID or name with filters and ordering",
        "tags": ["Move"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "page": { "type": "integer", "default": 0 },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "integer" },
                      "power": {
                        "type": "object",
                        "properties": {
                          "min": { "type": "integer" },
                          "max": { "type": "integer" }
                        }
                      },
                      "pp": {
                        "type": "object",
                        "properties": {
                          "min": { "type": "integer" },
                          "max": { "type": "integer" }
                        }
                      },
                      "damageClass": { "type": "integer" },
                      "priority": {
                        "type": "object",
                        "properties": {
                          "min": { "type": "integer" },
                          "max": { "type": "integer" }
                        }
                      }
                    }
                  },
                  "order": {
                    "type": "integer",
                    "default": 0,
                    "description": "Ordering options: 0 (A-Z), 1 (Z-A), 2 (Power high-low), 3 (Power low-high), 4 (PP high-low), 5 (PP low-high), 6 (Accuracy high-low), 7 (Accuracy low-high)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Move details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "identifier": { "type": "string" },
                          "type_id": { "type": "number" },
                          "type_name": { "type": "string" },
                          "power": { "type": "integer" },
                          "pp": { "type": "integer" },
                          "accuracy": { "type": "integer" },
                          "priority": { "type": "integer" },
                          "damage_class_id": { "type": "number" },
                          "damage_class_name": { "type": "string" },
                          "localized_name": { "type": "string" }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Move not found"
          }
        }
      }
    },
    "/pokemon/ability/search": {
      "post": {
        "summary": "Retrieve Ability by ID or name",
        "tags": ["Ability"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "page": { "type": "integer", "default": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ability details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "name": { "type": "string" },
                          "effect": { "type": "string" }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ability not found"
          }
        }
      }
    },
    "/pokemon/watchlist": {
      "post": {
        "summary": "Add Pokémon to watchlist",
        "tags": ["Watchlist"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pokemonId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pokémon added to watchlist or existing record returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "user_id": { "type": "integer" },
                    "pokemon_id": { "type": "integer" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "deleted": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get user's Pokémon watchlist",
        "tags": ["Watchlist"],
        "responses": {
          "200": {
            "description": "User's watchlist retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "user_id": { "type": "integer" },
                      "pokemon_id": { "type": "integer" },
                      "created_at": { "type": "string", "format": "date-time" },
                      "deleted": { "type": "boolean" },
                      "identifier": { "type": "string" },
                      "height": { "type": "integer" },
                      "weight": { "type": "integer" },
                      "total_stats": { "type": "integer" },
                      "hp": { "type": "integer" },
                      "attack": { "type": "integer" },
                      "defense": { "type": "integer" },
                      "special_attack": { "type": "integer" },
                      "special_defense": { "type": "integer" },
                      "speed": { "type": "integer" },
                      "types": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": { "type": "string" },
                            "type_name": { "type": "string" }
                          }
                        }
                      },
                      "sprite": { "type": "string", "format": "url" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/watchlist/{id}": {
      "delete": {
        "summary": "Remove Pokémon from watchlist",
        "tags": ["Watchlist"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The pokemonId of the Pokémon to remove from the watchlist."
          }
        ],
        "responses": {
          "200": {
            "description": "Pokémon removed from watchlist"
          }
        }
      }
    },
    "/pokemon/teams": {
      "post": {
        "summary": "Create a Pokémon team",
        "tags": ["Teams"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teamName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created"
          }
        }
      },
      "get": {
        "summary": "Get user's Pokémon teams",
        "tags": ["Teams"],
        "responses": {
          "200": {
            "description": "User's teams retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "teamId": { "type": "number" },
                      "teamName": { "type": "string" },
                      "createdAt": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/teams/{teamId}/members": {
      "post": {
        "summary": "Add a member to a Pokémon team",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pokemonId": { "type": "number" },
                  "nickname": { "type": "string" },
                  "level": { "type": "number" },
                  "moves": { "type": "array", "items": { "type": "number" } },
                  "shiny": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added to team"
          }
        }
      },
      "get": {
        "summary": "Get all members of a Pokémon team",
        "tags": ["Teams"],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Team members retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "memberId": { "type": "number" },
                      "pokemonId": { "type": "number" },
                      "nickname": { "type": "string" },
                      "level": { "type": "number" },
                      "shiny": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/type/search": {
      "post": {
        "summary": "Retrieve Type by ID or name",
        "tags": ["Type"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchterm": { "type": "string" },
                  "page": { "type": "integer", "default": 0 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Type details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "identifier": { "type": "string" },
                          "generation_id": { "type": "number" },
                          "localized_name": { "type": "string" },
                          "local_language_id": { "type": "number" }
                        }
                      }
                    },
                    "totalCount": { "type": "integer" },
                    "totalPage": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Type not found"
          }
        }
      }
    },
    "/pokemon/details/{id}": {
      "get": {
        "summary": "Retrieve detailed information about a specific Pokémon",
        "tags": ["Pokémon"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the Pokémon to retrieve details for."
          }
        ],
        "responses": {
          "200": {
            "description": "Pokémon details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "identifier": { "type": "string" },
                    "order": { "type": "integer" },
                    "height": {
                      "type": "integer",
                      "description": "Height of the Pokémon in decimeters (10 cm)."
                    },
                    "weight": {
                      "type": "integer",
                      "description": "Weight of the Pokémon in hectograms (100 g)."
                    },
                    "baseExperience": { "type": "integer" },
                    "flavorText": { "type": "string" },
                    "speciesId": { "type": "integer" },
                    "speciesName": { "type": "string" },
                    "isDefault": { "type": "boolean" },
                    "totalStats": { "type": "string" },
                    "hp": { "type": "integer" },
                    "attack": { "type": "integer" },
                    "defense": { "type": "integer" },
                    "speed": { "type": "integer" },
                    "specialAttack": { "type": "integer" },
                    "specialDefense": { "type": "integer" },
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string" },
                          "type_name": { "type": "string" }
                        }
                      }
                    },
                    "pokemonTypeNames": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "abilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ability": { "type": "string" },
                          "ability_name": { "type": "string" }
                        }
                      }
                    },
                    "moves": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "move": { "type": "string" },
                          "type_id": { "type": "integer" },
                          "power": { "type": "integer" },
                          "accuracy": { "type": "integer" },
                          "pp": { "type": "integer" },
                          "priority": { "type": "integer" },
                          "name": { "type": "string" },
                          "move_method": { "type": "string" },
                          "level": { "type": "integer" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "sprite": {
                      "type": "string",
                      "example": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{id}.png"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon/moves": {
      "post": {
        "summary": "Retrieve moves that a Pokémon can learn",
        "tags": ["Moves"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pokemonId": {
                    "type": "integer",
                    "description": "The ID of the Pokémon to retrieve moves for."
                  },
                  "typeId": {
                    "type": "integer",
                    "description": "Filter by move type ID (default: null).",
                    "default": null
                  },
                  "learnMethodId": {
                    "type": "integer",
                    "description": "Filter by learn method ID (default: level-up).",
                    "default": 1
                  },
                  "sortBy": {
                    "type": "integer",
                    "description": "Sorting option: 0 (Level low-high, default), 1 (Level high-low), 2 (Power low-high), 3 (Power high-low), 4 (PP low-high), 5 (PP high-low), 6 (Name A-Z), 7 (Name Z-A).",
                    "default": 0
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number for pagination (default: 0).",
                    "default": 0
                  }
                },
                "required": ["pokemonId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moves retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "move": { "type": "string" },
                          "type_id": { "type": "integer" },
                          "type_name": { "type": "string" },
                          "power": { "type": "integer" },
                          "accuracy": { "type": "integer" },
                          "pp": { "type": "integer" },
                          "priority": { "type": "integer" },
                          "name": { "type": "string" },
                          "move_method": { "type": "string" },
                          "level": { "type": "integer" }
                        }
                      }
                    },
                    "page": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "totalPages": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Pokémon or moves not found"
          }
        }
      }
    }
  }
}