{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash User API",
    "description": "User management endpoints for ElasticDash platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/user",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/user",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/user/register": {
      "post": {
        "summary": "Register new user",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "username", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "username": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "message": { "type": "string" },
                    "userId": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/register/verify": {
      "post": {
        "summary": "Verify registration email",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "verificationCode"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "verificationCode": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "message": { "type": "string" },
                    "token": { "type": "string" },
                    "user": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/register/verify/resend": {
      "post": {
        "summary": "Resend verification email",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email resent"
          }
        }
      }
    },
    "/user/account": {
      "get": {
        "summary": "Get user account information",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Account info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "userId": { "type": "number" },
                        "email": { "type": "string" },
                        "firstName": { "type": "string" },
                        "lastName": { "type": "string" },
                        "createdAt": { "type": "string", "format": "date-time" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update user account information",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "firstName": { "type": "string" },
                  "lastName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated"
          }
        }
      }
    },
    "/user/account/email": {
      "put": {
        "summary": "Update user email",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated"
          }
        }
      }
    },
    "/user/account/email/verify/{url}": {
      "get": {
        "summary": "Verify email change",
        "tags": ["User"],
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Email verified"
          }
        }
      }
    },
    "/user/account/photo": {
      "put": {
        "summary": "Update user profile photo",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo updated"
          }
        }
      }
    },
    "/user/profile/my": {
      "get": {
        "summary": "Get my profile",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Profile retrieved"
          }
        }
      }
    },
    "/user/profile/other/{id}": {
      "get": {
        "summary": "Get other user profile",
        "tags": ["User"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved"
          }
        }
      }
    },
    "/user/profile": {
      "put": {
        "summary": "Update profile",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": { "type": "string" },
                  "lastName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          }
        }
      }
    },
    "/user/profile/resume": {
      "put": {
        "summary": "Update user resume",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "resume": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume updated"
          }
        }
      }
    },
    "/user/notification": {
      "get": {
        "summary": "Get user notifications",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Notifications retrieved"
          }
        }
      }
    },
    "/user/notification/read/{id}": {
      "get": {
        "summary": "Mark notification as read",
        "tags": ["User"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification marked as read"
          }
        }
      }
    },
    "/user/notification/delete/{id}": {
      "delete": {
        "summary": "Delete notification",
        "tags": ["User"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification deleted"
          }
        }
      }
    },
    "/user/testrequest": {
      "post": {
        "summary": "Create test request",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "testType": { "type": "string" },
                  "requestDate": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test request created"
          }
        }
      }
    },
    "/user/testrequest/page/{page}": {
      "get": {
        "summary": "Get test requests by page",
        "tags": ["User"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Test requests retrieved"
          }
        }
      }
    },
    "/user/testrequest/delete/{id}": {
      "delete": {
        "summary": "Delete test request",
        "tags": ["User"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Test request deleted"
          }
        }
      }
    },
    "/user/checkpassword": {
      "get": {
        "summary": "Check password validity",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Password check result"
          }
        }
      }
    },
    "/user/confirmpassword": {
      "put": {
        "summary": "Confirm password",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password"],
                "properties": {
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password confirmed"
          }
        }
      }
    },
    "/user/updatepassword": {
      "put": {
        "summary": "Update password",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currentPassword", "newPassword"],
                "properties": {
                  "currentPassword": { "type": "string" },
                  "newPassword": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          }
        }
      }
    },
    "/user/forgotpassword": {
      "post": {
        "summary": "Request password reset",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email sent"
          }
        }
      }
    },
    "/user/resetpassword": {
      "post": {
        "summary": "Reset password with token",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token", "newPassword"],
                "properties": {
                  "token": { "type": "string" },
                  "newPassword": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful"
          }
        }
      }
    },
    "/user/google/auth": {
      "post": {
        "summary": "Google OAuth authentication",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful"
          }
        }
      }
    },
    "/user/microsoft/auth": {
      "post": {
        "summary": "Microsoft OAuth authentication",
        "tags": ["User"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful"
          }
        }
      }
    },
    "/user/onboarding/process": {
      "get": {
        "summary": "Get onboarding process status",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Onboarding status retrieved"
          }
        }
      },
      "post": {
        "summary": "Update onboarding process",
        "tags": ["User"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "step": { "type": "number" },
                  "completed": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding updated"
          }
        }
      }
    },
    "/user/unsubscribe/{url}": {
      "get": {
        "summary": "Unsubscribe from emails",
        "tags": ["User"],
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed successfully"
          }
        }
      },
      "put": {
        "summary": "Update unsubscribe preferences",
        "tags": ["User"],
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unsubscribeAll": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preferences updated"
          }
        }
      }
    }
  }
}
