{
  "openapi": "3.0.0",
  "info": {
    "title": "ElasticDash Admin API",
    "description": "Admin management endpoints for ElasticDash platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devserver.elasticdash.com/api/admin",
      "description": "Development server"
    },
    {
      "url": "https://server.elasticdash.com/api/admin",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "adminAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "adminAuth": [] }],
  "paths": {
    "/admin/allrealusers": {
      "get": {
        "summary": "Get all real users",
        "tags": ["Admin"],
        "responses": {
          "200": {
            "description": "Users retrieved"
          }
        }
      }
    },
    "/admin/user": {
      "post": {
        "summary": "Create user",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "fullName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created"
          }
        }
      }
    },
    "/admin/user/password": {
      "put": {
        "summary": "Update user password",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password", "userId"],
                "properties": {
                  "password": { "type": "string" },
                  "userId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/user/email": {
      "put": {
        "summary": "Update user email",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "newEmail"],
                "properties": {
                  "userId": { "type": "number" },
                  "newEmail": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated"
          }
        }
      }
    },
    "/admin/user/delete/{userId}": {
      "delete": {
        "summary": "Delete user",
        "tags": ["Admin"],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          }
        }
      }
    },
    "/admin/user/testrequest/bystatus": {
      "get": {
        "summary": "Get test requests by status",
        "tags": ["Admin"],
        "responses": {
          "200": {
            "description": "Requests retrieved"
          }
        }
      }
    },
    "/admin/user/testrequest/list": {
      "post": {
        "summary": "Get test requests list",
        "tags": ["Admin"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": { "type": "string" },
                  "page": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requests retrieved"
          }
        }
      }
    },
    "/admin/user/testrequest/status": {
      "put": {
        "summary": "Update test request status",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["requestId", "status"],
                "properties": {
                  "requestId": { "type": "number" },
                  "status": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/admin/test": {
      "get": {
        "summary": "Get tests",
        "tags": ["Admin"],
        "responses": {
          "200": {
            "description": "Tests retrieved"
          }
        }
      },
      "post": {
        "summary": "Create test",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "type": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test created"
          }
        }
      },
      "put": {
        "summary": "Update test",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["testId"],
                "properties": {
                  "testId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test updated"
          }
        }
      },
      "delete": {
        "summary": "Delete test",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["testId"],
                "properties": {
                  "testId": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test deleted"
          }
        }
      }
    },
    "/admin/socket": {
      "post": {
        "summary": "Socket test",
        "tags": ["Admin"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Socket test successful"
          }
        }
      }
    },
    "/admin/project/ai-only/{projectId}": {
      "get": {
        "summary": "Get AI-only project configuration",
        "tags": ["Admin"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration retrieved"
          }
        }
      }
    },
    "/admin/project/ai-only": {
      "put": {
        "summary": "Update AI-only project configuration",
        "tags": ["Admin"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["projectId"],
                "properties": {
                  "projectId": { "type": "number" },
                  "aiOnly": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated"
          }
        }
      }
    },
    "/admin/user/search": {
      "get": {
        "summary": "Search users by email or name",
        "tags": ["Admin"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "number" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "number" },
                          "email": { "type": "string" },
                          "fullName": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
